body {
    background-color:#ffe9e3;
}


#CON {
    width: 40em;

    margin:0 auto;
    background-color:white;
    



}

SPAN {
    color:#c3195d;	
}



img {
    border-radius: 50em;
}

h3 {
    color:#c3195d;
}

.sq {
    width: 10px;
    height: 20px;
    background-color: #c3195d;
}

.ss {
    color: #efd510;
}

.mail {
    margin-left: 30px;
}

#date {
    margin-top: 30px;
}

.area {
    margin-top: 20px;
}

footer {
    text-align: center;
}

ul {
    padding-left: 20px;
}

.head {
    text-align: center;
}
.inline{
    display: inline-block;
}
#PP{
    width: 250PX;
    MARGIN-LEFT: 50PX;
}
